<div class="container">
<h1>All Questions</h1>
  <div class="row">
  <div class="col-xs-4 col-xs-offset-3">
      <% @questions.each do |question| %>
      <h2><%= question.content %></h2>

      <%= link_to "See details", question, class: "btn btn-primary"%>
      <% end %>

    </div>
  </div>

</div>
