<!-- Section: home video -->
<section id="intro" class="home-video text-light">
  <div class="home-video-wrapper">
    <div class="homevideo-container">
           <div id="P1" class="bg-player" style="display:block; margin: auto; background: rgba(0,0,0,0.5)" data-property="{videoURL:'https://www.youtube.com/watch?v=-Qwo6fwnUYY',containment:'.homevideo-container', quality: 'highres', showControls: false, autoPlay:true, mute:true, startAt:0, opacity:1}"></div>
    </div>
    <div class="overlay">
    	<div class="text-center video-caption">
    		<div class="wow bounceInDown" data-wow-offset="0" data-wow-delay="0.8s">
    			<h1 class="big-heading font-light"><span id="js-rotating">We are Taboo, Connect Anonymously, Choose someone who gets you, Share your thoughts </span></h1>
    		</div>
    		<div class="wow bounceInUp" data-wow-offset="0" data-wow-delay="1s">
    			<div class="margintop-30">
    				<a href="#about" class="btn btn-lg btn-primary" id="btn-scroll">Start here</a>
    			</div>
    		</div>
    	</div>
    </div>
  </div>
</section>

<!-- Section: about -->
<section id="about" class="home-section color-dark bg-ghost">
  <div class="container marginbot-0">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
        <div class="section-heading text-center">
        <h2 class="h-bold">Why we exist?</h2>
        <div class="divider-header"></div>
          <p>
            We want to create an open and alleviating space for people to share themselves openly and learn how to be genuine in a world of judgment where being sincere can be truly scary.
          </p>
          <p>
           This is a place for people who want to get out of isolation, seek genuine human connections and are brave enough to ask themselves the fundamental questions and feel vulnerable again.
           It is for the people who want to regain touch with who they authentically are and feel alive like we all did as children.
          </p>
          <p>
           In order to do so, we believe the first step is to be honest with ourselves, understand why we do what we do and share ourselves openly with no fear of judgment because the irony is that the consequences of keeping secrets far outweigh the consequences of actually sharing them.
          </p>
        </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-sm-3 col-md-3 hidden">
          <div class="team-wrapper-big wow bounceInUp" data-wow-delay="0.2s">
            <div class="team-wrapper-overlay">
              <h5>Keyla Cruse</h5>
              <p>Graeco voluptua sed ea, malorum quaeque cotidieque per eu, quo id possit dissentias.</p>
              <div class="social-icons">
                <ul class="team-social">
                  <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li class="social-google"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
              </div>
            </div>
          <img src="" alt="" />
          </div>
          </div>
      </div>
  </div>
</section>


<!-- Section: parallax 1 -->
<section id="parallax1" class="home-section parallax text-light" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
        <h2 class="big-heading highlight-dark wow bounceInDown" data-wow-delay="0.2s">No names. No pictures. No Prejudice.</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Section: services -->
<section id="service" class="home-section color-dark bg-white">
  <div class="container marginbot-50">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
        <div class="section-heading text-center">
        <h2 class="h-bold">Features</h2>
        <div class="divider-header"></div>
        <p>A powerful and innovative way of interaction. <br></p>
        </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center">
    <div class="container">

      <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-4">
          <div class="wow fadeInLeft" data-wow-delay="0.2s">
            <div class="service-box">
              <div class="service-icon bg-icon">
                <span class="pe-7s-monitor pe-5x"></span>
              </div>
              <div class="service-desc">
                <h5>Tell us more about you!</h5>
                <p>
                Take our interactive screening test and let us match you with someone who has been or is going through the same struggle you are facing.
                </p><br>
                <a href="#" class="btn btn-primary">Learn more</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-4">
          <div class="wow fadeInLeft" data-wow-delay="0.2s">
            <div class="service-box">
              <div class="service-icon bg-icon">
                <span class="pe-7s-monitor pe-5x"></span>
              </div>
              <div class="service-desc">
                <h5>Choose your confident</h5>
                <p>
                Select the person you feel most comfortable with from a curated list of matches. Browse through their life experiences and chat.
                </p><br>
                <a href="#" class="btn btn-primary">Learn more</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-4">
          <div class="wow fadeInLeft" data-wow-delay="0.2s">
            <div class="service-box">
              <div class="service-icon bg-icon">
                <span class="pe-7s-monitor pe-5x"></span>
              </div>
              <div class="service-desc">
                <h5>Connect anonymously!</h5>
                <p>
                Break the silence now and get support from our community of experienced confidents. Anonymously.
                </p><br>
                <a href="#" class="btn btn-primary">Learn more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Section: parallax 3 -->
  <section id="parallax3" class="home-section parallax text-light text-center" data-stellar-background-ratio="0.5">
           <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="testimonialslide clearfix flexslider">
              <ul class="slides">
                <li><blockquote>
                 Take your time, look within and get on the road of better knowing yourself by responding to a few fundamental questions we too often forget to ask ourselves. We are a click away from endless information, but moving further away from what really matters. At taboo, we believe that knowing one's self and being genuine is the first step to greater self-regard.
                  </blockquote>
                  <h4>Be fearlessly authentic!</h4>
                </li>
                <li><blockquote>
                Answering these questions will help you raise your consciousness as well as help us get to know you better. With that information, our matching algorithm will provide you with a curated list of sincere individuals which you can browse and discover through what really makes us who we are: our passions, fears, values, regrets, dreams, stories.
                  </blockquote>
                  <h4>No names. No pictures. No Prejudice.</h4>
                </li>
                <li><blockquote>
                Share a wholehearted moment with someone who cares by starting a conversation on our secure network. Open yourself and touch other's lives through one on one conversations, with no worries of consequences as all that is said is deleted at the end of the conversation.
                  </blockquote>
                  <h4>You are not alone!</h4>
                </li>
              </ul>
            </div>
          </div>
        </div>
            </div>
  </section>

<!-- Section: contact -->
<section id="contact" class="home-section nopadd-bot color-dark bg-white text-center">
    <div class="container marginbot-50">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
          <div class="section-heading text-center">
          <h2 class="h-bold">Contact us</h2>
          <div class="divider-header"></div>
          <p>At Taboo, we take your privacy seriously. <br> Please visit our privacy policy for more information.</p>
          </div>
          </div>
        </div>
      </div>

    </div>

    <div class="container">

      <div class="row marginbot-80">
        <div class="col-md-8 col-md-offset-2">
            <div id="sendmessage">Your message has been sent. Thank you!</div>
                    <div id="errormessage"></div>
                    <form action="" method="post" role="form" class="contactForm">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                            <div class="validation"></div>
                        </div>

                        <div class="text-center"><button type="submit" class="btn btn-primary btn-lg btn-block">Send Message</button></div>
                    </form>
        </div>
      </div>
    </div>
</section>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">

        <div class="text-center">
          <a href="#intro" class="totop"><i class="pe-7s-angle-up pe-3x"></i></a>

          <div class="social-widget">


            <ul class="team-social">
                <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li class="social-google"><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>

          </div>
          <p>&copy;Taboo Inc. All Rights Reserved</p>
                      <div class="credits">
      </div>
    </div>
  </div>
</footer>


