/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.body-padded {
  padding-top: 50px;
}

.padded {
  margin-top: 20px;
  margin-bottom: 20px;
}


// .padded {
//   padding-top: 5em;
//   padding-bottom: 5em;
// }

// Margins
.mg-left-20 { margin-left:20px; }


// Floats

.float-none  { float: none; }
.float-left  { float: left; }
.float-right { float: right; }

.clear-none  { clear: none; }
.clear-left  { clear: left; }
.clear-right { clear: right; }
.clear-both  { clear: both; }

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}
