// Matches CSS

.displaced {
  margin-left: -100px;
}

.mg-top-neg-30 {
  margin-top: -80px;
}

.shadow {
  // box-shadow: 6px 9px 22px -1px rgba(0,0,0,0.27);
}

.status-bar-off {
  border-top: 6px solid $ggray;
  margin-top: 50px;
}

.status-bar-on {
  border-top: 6px solid #129800;
  margin-top: 50px;
}

.user-details {
  padding-top: 30px;
  padding-bottom: 44px;

  background-color: white;

  border-left: 1px solid $ggray;
  border-right: 1px solid $ggray;
  border-bottom: 1px solid $ggray;

  // img {
  //   // width: 120px;
  //   // border-radius: 50%;
  //   // padding-bottom: 10px;
  // }

  // .hover-text {
  //   position:relative;
  //   padding-top:-90px;
  //   left: 0px;
  //   visibility:hidden;
  // }

  // img:hover {
  //   opacity:0.3;

  //   .hover-text {
  //     color:green;
  //     visibility: true;
  //   }
  // }

  h1 {
    font-size: 28px;
    font-weight: normal;
    color: gray;
    margin-top: 10px;
    margin-bottom: 0px;
  }

  span {
    font-size: 18px;
    font-weight: lighter;
    color: gray;
  }
}

.user-profile {
  padding-top: 0px;
  padding-bottom: 25px;

  background-color: #F0F0F0;

  border-left: 1px solid $ggray;
  border-right: 1px solid $ggray;
  border-bottom: 1px solid $ggray;

  .cta-button {
    position: relative;
    text-align: center;
    margin-top: -28px;
    margin-bottom:10px;
    box-shadow: 0 3px 16px -5px #000000;
    // margin-left: 90px;
    // margin-bottom: 10px;
  }

    .mini-icon {
      fill: white;
      width: 15px;
    }

  .cta-link {
    color: $cornblue;
    text-align: center;
    margin-right: 0px;
  }

}



















.card-flip {
  -webkit-perspective: 1000px;
          perspective: 1000px;
          // background-color: #72ACF0;


          background-image:
               // -webkit-linear-gradient(-45deg,
               //                         transparent 33%, rgba(0, 0, 0, .1) 33%,
               //                         rgba(0,0, 0, .1) 66%, transparent 66%),
               // -webkit-linear-gradient(top,
               //                         rgba(255, 255, 255, .25),
               //                         rgba(0, 0, 0, .25)),
               -webkit-linear-gradient(left, #447FC2, #539AED);

           border-radius:10px;
           margin: 20px;
           color: #F7F8FB;
           font-family: 'Chewy', cursive;
           box-shadow: 4px 4px 2px grey;

}
.card-flip:hover .flip, .card-flip.hover .flip {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-transition: transform 2s ease-in-out;

}

.card-flip,
.front,
.back {
  width: 100%;
  height: 480px;
}

.flip {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
}

.front,
.back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;
  margin-top: 20px;
}

.front {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);


}




.block-btn {
  display: flex;

  .btn {
    border: rgba(247, 248, 251,0.3) solid 0.2px;
    border-radius: 5px;
    margin: 2px;
  }
  a {
    align-self: flex-end;
  }
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: justify;
}


.wrapper-fill {
  background: #9A95BF;
  height: 100%;
  position: absolute;
  z-index: 2;
  opacity: 1;
}
.wrapper {
  // padding: 1px;
  position: relative;
  width: 100%;
  position: center;
  padding: 2px;
  margin-bottom: 5px;
    background-color: rgba(255,255,255,0.2);
}

h4 {
  margin: 0 0 0;
}

.text-blue {
  // color: rgba(3,83,164,1);
  color: #342D65;
  font-family: 'Roboto';
  font-size: 20px;
  // font-style: italic;
  margin-bottom: 7px;
}
.text-it {
  font-style: italic;
}

.btn-card {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: rgba(3,83,164,0.4);
  transition: background 0.3s ease;
  width: 50% ;

}
.btn-card:hover {
  opacity: 1;
  background: rgba(3,83,164,1);
  text-decoration: none;
  color: white;
}




progress {
  -webkit-appearance: none;
  width: 100%;
  height: 20px;
  margin-bottom: 10px;
}


progress::-webkit-progress-bar {
  background-color: rgba(3,83,164,0.4);
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}




progress::-webkit-progress-value {
  background-image:
     -webkit-linear-gradient(-45deg,
                             transparent 33%, rgba(0, 0, 0, .1) 33%,
                             rgba(0,0, 0, .1) 66%, transparent 66%),
     -webkit-linear-gradient(top,
                             rgba(255, 255, 255, .25),
                             rgba(0, 0, 0, .25)),
     -webkit-linear-gradient(left, #8668A8, #473D8A);

    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}






// .avatar {
//   width: 30px;
//   border-radius: 50%;
// }
.avatar-large {
  width: 50px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 30px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 30px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

$color-back:  $purple;
$color-bar: $lilac;

*{
  box-sizing: border-box;
}

// :root{
//   margin: 30vh auto;
//   text-align: center;
// }

.avatar-container{
  position: relative;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  height: 130px;
  width: 130px;
  padding: 0;
  margin: 0 1rem;
  border: none;
  background: $purple;
  cursor: pointer;

  .avatar{
    display: block;
    margin: 15px;
    border-radius: 50%;
    width: 100px;
    // height: 100px;
    overflow: hidden;
    z-index: 100;

    img{
      width: 100%;
      height: auto;
    }
  }

  .info{
    display: none;
    font-weight: bold;
    font-size: 2rem;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    background: rgba($color-bar,.2);
    color: white;
    z-index: 1000;

    &.js-active{
      display: table;
    }

    .info-inner{
      display: table-cell;
      text-align: center;
      vertical-align: middle;
    }
  }
}

/**
* Function to generate procentual progress classes
* .p-1 1% -> p-100 100%
**/
$step: 1;
$loops: round(100 / $step);
$increment: 360 / $loops;
$half: round($loops / 2);

@for $i from 1 through $loops {

  .p-#{$i*$step} {

    @if $i < $half {
      $nextdeg: 90deg +  ( $increment * $i ) ;

      background-image: linear-gradient(90deg, $color-back 50%, transparent 50%, transparent), linear-gradient($nextdeg, $color-bar 50%, $color-back 50%, $color-back);

    } @else {
      $nextdeg: -90deg + ( $increment * ( $i - $half ) );

      background-image: linear-gradient($nextdeg, $color-bar 50%, transparent 50%, transparent), linear-gradient(270deg, $color-bar 50%, $color-back 50%, $color-back);

    }
  }

}
